.bg-container {
  background-color: #000000;
  height: 100vh;
  color: #fff;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: #272727;
  width: 90%;
  border-radius: 10px;
  padding: 25px;
  height: 350px;
  display: flex;
  flex-direction: column;
}

.website-logo {
  width: 80px;
  align-self: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .login-container {
    width: 30%;
    height: 450px;
    padding: 50px 40px;
  }

  .website-logo {
    width: 180px;
    margin-bottom: 40px;
  }
}

.username-input {
  height: 42px;
  font-size: 15px;
  padding: 0px 10px;
  background-color: transparent;
  border: 1px solid #64748b;
  border-radius: 3px;
  margin-bottom: 20px;
  color: #fff;
  outline: none;
}

.label {
  margin-bottom: 10px;
  font-weight: 500;
}

.login-btn {
  height: 40px;
  background-color: #6366f1;
  border-width: 0px;
  border-radius: 8px;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  margin-top: 20px;
}

.error-msg {
  color: #ff0b37;
  margin-top: 0px;
  padding-top: 0px;
}
